In [2]:
import pandas as pd
import numpy as np

In [3]:
health = pd.read_csv("../Data/healthcare_messy_data.csv")
health.head()

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number
0,david lee,25,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.0,name@hospital.org,555-555-5555
1,emily davis,NaN,Male,Diabetes,NONE,"April 5, 2018",120/80,200.0,NaN,NaN
2,laura martinez,35,Other,Asthma,METFORMIN,2019.12.01,110/70,160.0,contact@domain.com,NaN
3,michael wilson,NaN,Male,Diabetes,ALBUTEROL,01/15/2020,110/70,NaN,name@hospital.org,555-555-5555
4,david lee,NaN,Female,Asthma,NONE,2020/02/20,110/70,180.0,NaN,

In [4]:
health.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Patient Name    1000 non-null   object
 1   Age             841 non-null    object
 2   Gender          1000 non-null   object
 3   Condition       794 non-null    object
 4   Medication      1000 non-null   object
 5   Visit Date      1000 non-null   object
 6   Blood Pressure  834 non-null    object
 7   Cholesterol     769 non-null    float64
 8   Email           616 non-null    object
 9   Phone Number    821 non-null    object
dtypes: float64(1), object(9)
memory usage: 78.3+ KB

In [8]:
health['Age'].isna().sum()

159

In [9]:
health.shape[0]

1000

In [10]:
1000-159

841

In [31]:
health = health.dropna(subset=['Age', 'Condition', 'Medication', 'Cholesterol', 'Blood Pressure'], axis=0)

In [32]:
health.isna().sum()

Patient Name        0
Age                 0
Gender              0
Condition           0
Medication          0
Visit Date          0
Blood Pressure      0
Cholesterol         0
Email             158
Phone Number       78
dtype: int64

In [34]:
health.head(5)

,Patient Name,Age,Gender,Condition,Medication,Visit Date,Blood Pressure,Cholesterol,Email,Phone Number
0,david lee,25,Other,Heart Disease,METFORMIN,01/15/2020,140/90,200.0,name@hospital.org,555-555-5555
2,laura martinez,35,Other,Asthma,METFORMIN,2019.12.01,110/70,160.0,contact@domain.com,NaN
8,laura martinez,60,Other,Heart Disease,NONE,01/15/2020,140/90,180.0,name@hospital.org,NaN
10,emily davis,25,Male,Asthma,ATORVASTATIN,"April 5, 2018",120/80,200.0,NaN,
12,laura martinez,forty,Male,Diabetes,ALBUTEROL,03-25-2019,140/90,180.0,NaN,123-456-7890

In [36]:
health['Age'] = health['Age'].str.replace("forty", "40", regex=False)

In [38]:
health['Age'] = health['Age'].astype(int)

In [ ]:
health['Gender'].isna().sum()

array(['Other', 'Male', 'Female'], dtype=object)